
body{
    color: #000000;
    background: #ffffff;
}

a{
    text-decoration: none;
}
  
a:hover {
    text-decoration: underline;
}

.row>div{
    background-color: #efefef;
}
.icon{
    width: 22px;
}
img>.avatar{
    width: 40px;
}